pkgbase = davmail
	pkgdesc = a POP/IMAP/SMTP/Caldav/LDAP gateway for the exchange service
	pkgver = 4.4.1.2225
	pkgrel = 1
	url = http://davmail.sourceforge.net/
	install = davmail.install
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = apache-ant
	depends = java-runtime
	source = http://downloads.sourceforge.net/project/davmail/davmail/4.4.1/davmail-src-4.4.1-2225.tgz
	sha256sums = 76c4957d45f8b968543407c1ea4512eecb5d63a57b84bbc679851bc15d939132

pkgname = davmail

